*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  min-height: 0; }

a {
  color: #007377; }
  a:hover {
    color: #005153;
    cursor: pointer; }

:host([hidden]),
*[hidden] {
  display: none !important; }

::-webkit-scrollbar {
  width: 1.125rem;
  height: 1.125rem; }

::-webkit-scrollbar-thumb {
  background-color: #bdbebf;
  border-radius: 2rem;
  border: 0.3rem solid transparent;
  background-clip: padding-box; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #787a7c;
    border-width: 0.225rem; }

:root {
  --z-index-popover: 200;
  --base-font-size: 1em;
  font-size: var(--base-font-size); }

html {
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overflow: hidden; }

body {
  font-size: 1em;
  height: 100vh;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #373839;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -webkit-tap-highlight-color: transparent;
  padding-top: constant(safe-area-inset-top);
  /* iOS 11.0 Notch */
  padding-top: env(safe-area-inset-top);
  /* iOS 11.2 Notch */ }

* {
  cursor: default; }
